<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>Login to INOR System</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="robots" content="index, follow, noarchive" />

<link rel="stylesheet" type="text/css" media="screen" href="../public/css/Green.css" />

</head>

<body>
<!-- wrap starts here -->
<div id="wrap"> 

	<div id="header">
			
	</div>
			
	<div id="menu">
		
	</div>
	
	<!-- content-wrap starts here -->	
	<div id="content-wrap">  
	
			<div id="sidebar">
			
				
			</div>		
	
	  		<div id="main"> 
				
			<form action="login">	
				<h1 id="logo">INOR<span class="green">System</span></h1>
				<h2 id="slogan">Inventory and Ordering System</h2>								
						<br />	
					<table>
						<tr>
						<td><label>&nbsp;&nbsp;&nbsp;UserName </label></td><td>
						<input name="name" type="text" size="30" /></td>
						</tr>
						<tr><td>
						<label>&nbsp;&nbsp;&nbsp;Password </label></td><td>
						<input name="password" type="Password" size="30" /></td><td><h3 id="logo"><a href="index.html">Login</a></h3></td>
						<br />					
						<tr><td></td></tr>
						</table>	
				</form>				
				<br />							
								
	  		</div> 	
			
			<div id="rightbar">
			
		
			</div>  		
	
	<!-- content-wrap ends here -->	
	</div>
	
<!-- wrap ends here -->
</div>		

<!-- footer starts here -->		
		<div id="footer">
		             <p>
				&copy; 2017 Your Company |
				Created by: 

                &nbsp;| INOSSytem &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

				<a href="www.dev.com">Developers</a> |
                
			</p>
		</div>
<!-- footer ends here -->	

</body>
</html>